<div class="btn-group btn-group-xs">
    <button class="btn btn-default"
            fm-dialog="fmCreateFolder">
        <i class="glyphicon glyphicon-plus"></i>
        Создать папку
    </button>
    <button class="btn btn-default"
            ng-if="isFolderSelected"
            ng-click="removeFolder()">
        <i class="glyphicon glyphicon-remove"></i>
        Удалить папку
    </button>
    <button class="btn btn-default"
            ng-if="filesSelectedCount"
            ng-click="removeFiles()">
        <i class="glyphicon glyphicon-remove"></i>
        Удалить файлы
    </button>
    <button class="btn btn-default"
            ng-if="filesSelectedCount"
            ng-click="copyFiles()">
        <i class="glyphicon glyphicon-share"></i>
        Копировать файлы
    </button>
    <button class="btn btn-default"
            ng-if="filesSelectedCount"
            ng-click="moveFiles()">
        <i class="glyphicon glyphicon-plane"></i>
        Переместить файлы
    </button>
    <button class="btn btn-default"
            ng-click="pastFiles()"
            ng-if="isCopied">
        <i class="glyphicon glyphicon-save"></i>
        Вставить
    </button>
</div>
<div class="pull-right">
    <div class="btn-group btn-group-xs">
        <button ng-class="{ active: type === 'list' }"
                ng-click="setView('list')"
                class="btn btn-default">
            <i class="glyphicon glyphicon-th-list"></i>
        </button>
        <button ng-class="{ active: type === 'preview' }"
                ng-click="setView('preview')"
                class="btn btn-default">
            <i class="glyphicon glyphicon-th"></i>
        </button>
    </div>
</div>