<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Управление файлами
                </h4>
            </div>
            <div class="modal-body">
                <div id="holder">
                    <div ng-controller="MenuController"
                         class="file-manager-toolbar "
                            ng-include="menuUrl">

                    </div>

                    <div class="file-manager-container">
                        <div ng-controller="FoldersController"
                             class="folders">
                            <div fm-folders-tree="folders.tree"
                                 fm-folders-path="path"></div>
                        </div>
                        <div ng-controller="FilesController" class="files">
                            <ol class="breadcrumb">
                                <li ng-repeat="folder in files.pathChains">
                                    <a ng-click="loadFiles($index)" href="#">
                                        {{folder.name}}
                                    </a>
                                </li>
                            </ol>
                            <div ng-include="getViewTemplate()"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="InsertController"
                 class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button ng-click="insert()"
                        ng-disabled="!filesSelectedCount"
                        type="button"
                        data-dismiss="modal"
                        class="btn btn-primary">
                    Вставить
                </button>
            </div>
        </div>
    </div>
</div>