<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Управление файлами
                </h4>
            </div>
            <div class="modal-body">
                <div id="holder">
                    <div ng-controller="MenuController"
                         class="file-manager-toolbar ">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default"
                                    fm-dialog="#createFolder">
                                <i class="glyphicon glyphicon-plus"></i>
                                Создать папку
                            </button>
                            <button class="btn btn-default"
                                    ng-if="isFolderSelected"
                                    ng-click="removeFolder()">
                                <i class="glyphicon glyphicon-remove"></i>
                                Удалить папку
                            </button>

                            <!--<button ng-click="showUploadForm()"-->
                                    <!--ng-if="isFolderSelected"-->
                                    <!--class="btn btn-primary">-->
                                <!--<i class="glyphicon glyphicon-upload"></i>-->
                                <!--Загрузить-->
                            <!--</button>-->

                            <button class="btn btn-default"
                                    ng-if="filesSelectedCount"
                                    ng-click="removeFiles()">
                                <i class="glyphicon glyphicon-remove"></i>
                                Удалить файлы
                            </button>
                            <button class="btn btn-default"
                                    ng-if="filesSelectedCount"
                                    ng-click="copyFiles()">
                                <i class="glyphicon glyphicon-share"></i>
                                Копировать файлы
                            </button>
                            <button class="btn btn-default"
                                    ng-if="filesSelectedCount"
                                    ng-click="moveFiles()">
                                <i class="glyphicon glyphicon-plane"></i>
                                Переместить файлы
                            </button>
                            <button class="btn btn-default"
                                    ng-click="pastFiles()"
                                    ng-if="isCopied">
                                <i class="glyphicon glyphicon-save"></i>
                                Вставить
                            </button>
                        </div>
                    </div>
                    <div class="file-manager-container">
                        <div ng-controller="FoldersController"
                             class="folders">
                            <div fm-folders-tree="folders.tree"
                                 fm-folders-load="loadFiles($path)"></div>
                        </div>
                        <div ng-controller="FilesController" class="files">
                            <ol class="breadcrumb">
                                <li ng-repeat="folder in files.pathChains">
                                    <a ng-click="loadFiles($index)" href="#">
                                        {{folder.name}}
                                    </a>
                                </li>
                            </ol>
                            <div class="files-list-wrapper"
                                 fm-drop-files="upload($files)">
                                <ul class="files-list">
                                    <li class="file" ng-repeat="file in files.list">
                                        <label ng-click="file.selected = !file.selected">
                                            <i ng-if="file.selected"
                                               class="file-icon glyphicon glyphicon-check"></i>

                                            <div fm-file-prefix="{{files.path}}" fm-file="{{file.name}}"></div>
                                            <div class="file-title">
                                                {{file.name}}
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="InsertController"
                 class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button ng-click="insert()"
                        ng-disabled="!filesSelectedCount"
                        type="button"
                        data-dismiss="modal"
                        class="btn btn-primary">
                    Вставить
                </button>
            </div>
        </div>
    </div>
    <script id="createFolder" type="text/html">
        <form ng-submit="createFolder(folderName)">
            <div class="form-group">
                <label for="folder">Название папки</label>
                <input ng-model="folderName"
                       required
                       type="text" class="form-control"
                       id="folder" placeholder="Название папки">
            </div>
            <button ng-click="close()"
                    type="button"
                    class="btn btn-xs btn-default">Отмена
            </button>
            <button type="submit" class="btn btn-xs btn-primary">Создать</button>
        </form>
    </script>
</div>