.left-container {
  height: 100%;
  position: absolute;
  left: 310px;
  right: 0;
}

.file-manager-toolbar {
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(to bottom,#fdfdfd,#ddd);
}

.file-manager-container {
  height: 100%;
  position: relative;



}

.folders {
  .folder {
    cursor: pointer;
  }
  .active-folder {
    color: red;
  }

  float: left;
  overflow: auto;
  height: 100%;
  width: 300px;
  .sub-folders {
    margin-left: 10px;
  }
  .glyphicon {
    cursor: pointer;
  }

}

.files {
  .left-container;
}

.files-container {
  margin-bottom: 22px;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 37px;
  bottom: 0;
}


.files-preview {
  &-list {
    padding-left: 0;
    list-style: none;
  }

  &-file {
    display: inline-block;
  }

  &-label {
    float: left;
    position: relative;
    padding: 0 0 20px 0;
    border: 1px solid #ccc;
    margin: 2px;
    cursor: pointer;
    font-weight: normal;
    width: 110px;
    height: 100px;

  }

  &-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-img {
    max-height: 100%;
    max-width: 100%;
  }

  &-wrapper {
    height: 100%;
    line-height: 78px;
    text-align: center;
  }

  &-title {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: #000011;
    color: #fff;
  }

}

.files-list {
  &-file {
    cursor: pointer;
  }
  &-ext{
    width: 16px;
  }
}



.upload {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;

  .glyphicon {
    font-size: 270px;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 124px;
  }
}

.fm-dialog {
  position: absolute;
  width: 250px;
  z-index: 2000;
  border: 1px solid #c2ccd1;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #ccc;
}