.left-container {
  height: 100%;
  position: absolute;
  left: 310px;
  right: 0;
}
.file-manager-container {
  height: 100%;
  position: relative;
}
.file-manager-container .folders {
  float: left;
  overflow: auto;
  height: 100%;
  width: 300px;
}
.file-manager-container .folders .folder {
  cursor: pointer;
}
.file-manager-container .folders .active-folder {
  color: red;
}
.file-manager-container .folders .sub-folders {
  margin-left: 10px;
}
.file-manager-container .folders .glyphicon {
  cursor: pointer;
}
.file-manager-container .files {
  height: 100%;
  position: absolute;
  left: 310px;
  right: 0;
}
.file-manager-container .files .files-list-wrapper {
  margin-bottom: 22px;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 37px;
  bottom: 0;
}
.file-manager-container .files .files-list-wrapper .files-list {
  padding-left: 0;
  list-style: none;
}
.file-manager-container .files .files-list-wrapper .files-list .file {
  display: inline-block;
}
.file-manager-container .files .files-list-wrapper .files-list .file .file-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.file-manager-container .files .files-list-wrapper .files-list .file .file-preview {
  width: 100px;
}
.file-manager-container .files .files-list-wrapper .files-list .file .file-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: 20px;
  position: absolute;
  background-color: #000011;
  color: #fff;
}
.file-manager-container .files .files-list-wrapper .files-list .file label {
  padding: 0 0 20px 0;
  position: relative;
  border: 1px solid #ccc;
  margin: 2px;
  cursor: pointer;
  font-weight: normal;
  width: 110px;
}
.upload {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}
.upload .glyphicon {
  font-size: 270px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 124px;
}
.fm-dialog {
  position: absolute;
  width: 250px;
  z-index: 2000;
  border: 1px solid #c2ccd1;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #ccc;
}
